<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <title>Read</title>
</head>
<body>
<h1><a href="/blog" class="btn btn-primary"> Go Back</a></h1>
<div class="container" >
  <p th:text="'Tac Gia: '+ ${list.tacGia}" style="font-weight: bold"></p>
  <p th:text="'Ngay dang: '+${list.date}" style="font-weight: bold"></p>
  <p th:text="${list.tenBlog}" style="font-weight: bold; background-color:DodgerBlue; text-align:center;font-size:50px;"></p><br>

</div>
<div style="text-align:center;" >
  <p th:text="${list.noiDung}"></p>
  <img th:src="${list.image}" width="300px" height="200px">
</div>
</body>
</html>