<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <title>Read</title>
</head>
<body>
<h1><a href="/blog" class="btn btn-primary"> Go Back</a></h1>
<div class="container">
  <p th:text="'Tac Gia: '+ ${list.tacGia}" style="font-weight: bold"></p><br>
  <p th:text="'Ngay dang: '+${list.date}" style="font-weight: bold"></p><br>
  <p th:text="'Title: '+${list.tenBlog}" style="font-weight: bold"></p><br>
  <p th:text="${list.noiDung}"></p>
</div>
</body>
</html>